body {
  background: linen;
  background-image: linear-gradient(to right,  darkslategrey, slategrey);
  padding: 10%;
  color: #222222; 
  margin: 10px;
  font-family: sans-serif;
}
h1 {
  text-align: right;
  text-shadow: 2px 2px 2px #000000;
}
h2 {
  text-align: right;
}
table.main {
  background-color: rgba(255,255,255,0.5);
  width: 80%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 25px 50px;
  border: 2px solid #73AD21;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

td.left {
  width: 25%;
}
td.right {
  width: 75%
}

/* unvisited link */
a:link {
  color: #333333;
}

/* visited link */
a:visited {
  color: #333333;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: lightgrey;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 11pt;
}
footer {
  padding: 25px;
  text-align: center;
}

div.body {
  text-align: right;
}
footer{
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
