body {
  background: 1f1a02;
  padding: 10%;
  color: darkgrey; 
  margin: 10px;
  font-family: sans-serif;
}
h1 {
  text-align: right;
}
h2 {
  text-align: right;
}
table.main {
  background-color: rgba(255,255,255,0.5);
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
td {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

td.left {
  width: 25%;
}
td.right {
  width: 75%
}

/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: lightgrey;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 11pt;
}
footer {
  padding: 25px;
  text-align: center;
}

div.body {
  text-align: right;
}
