body {
  background: snow;
  padding: 0 24px;
  color: darkslategrey); 
  margin: 10%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: Arial, Helvetica, sans-serif;
}

td {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* unvisited link */
a:link {
  color: lightgrey;
}

/* visited link */
a:visited {
  color: lightgrey;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: grey;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 11pt;
}
